* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: auto;
    -webkit-font-smoothing: antialiased;
    background-image: radial-gradient(circle at center, #351215 10%, #07131E 100%);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    background-image: url('images/stars-min.png'), radial-gradient(circle at center, #351215 10%, #07131E 100%);
    color: white;
    width: 100%;
    height: auto;
    font-size: 16px;
    letter-spacing: .08em;
    min-height: 100%;
}

a {
    color: #333;
    text-decoration: none;
}

.content {
    width: 80%;
    margin: auto;
}


/*header*/

#title {
    font-size: 30pt;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

header,
footer {
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, .30);
    color: '#fff';
    text-align: center;
    position: relative;
    padding: 2rem 0 2rem;
}

header div {
    width: 30%;
    max-width: 60%;
    height: auto;
    margin: auto;
}


/*Section*/

.main-content {
    width: 100%;
    margin: auto;
    height: auto;
}

#info-text {
    width: 30%;
    float: left;
    height: auto;
    padding: 3rem 3rem;
    color: white;
    scroll-behavior: auto;
}

#animation {
    width: 40%;
    float: left;
    height: auto;
    background-color: transparent;
}

#main-menu {
    width: 30%;
    float: right;
    height: auto;
    padding: 3rem 3rem;
}

#main-menu nav,
#main-menu nav .btn-group {
    width: 100%;
    float: right;
    display: block;
}

.btn-group button {
    background: rgba(255, 255, 255, .30);
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    width: 100%;
    display: block;
    float: left;
}

.btn-group button:not(:last-child) {
    border-bottom: none;
    /* Prevent double borders */
}


/* Add a background color on hover */

.btn-group button:hover {
    background-color: #333;
}

#panel {
    float: left;
    width: 100%;
    height: auto;
    padding: 3rem 3rem;
    background-color: white;
}

#panel div {
    width: 33%;
    height: auto;
    color: #333;
    float: left;
    padding: 3rem;
}

footer {
    position: relative;
    float: left;
    margin-top: 1rem;
    padding: 1rem;
}

footer div {
    width: 33%;
    float: left;
}
@media (max-width: 780px){
    header, #info-text, #animation, #main-menu{
        width: 100%;
    }
    #animation{
        margin-bottom: -28rem;
    }
}
@media (max-width: 480px) {
    header {
        width: 100%;
    }
    #info-text, #animation, #main-menu {
        padding: 1rem 2rem;
    }

    #panel {
        padding: 0;
    }

    #panel div {
        width: 100%;
        float: left;
    }

    footer div {
        width: 100%;
        margin-bottom: 1rem;
        padding: 1rem;
    }
}